20210730/nodered/import
[{"id":"99e55041.36b888","type":"tab","label":"HBASE測試","disabled":false,"info":""},{"id":"9adcce24.65233","type":"inject","z":"99e55041.36b888","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["e1b33f63.1e4cc"]]},{"id":"e1b33f63.1e4cc","type":"function","z":"99e55041.36b888","name":"","func":"msg.payload = {\n};\n\nmsg.headers = {\n    Accept: \"text/xml\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":80,"wires":[["178423e4.e87bdc"]]},{"id":"178423e4.e87bdc","type":"http request","z":"99e55041.36b888","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.100.101:4444/person/Orozco","tls":"","persist":false,"proxy":"","authType":"","x":140,"y":280,"wires":[["a43c0b43.790438"]]},{"id":"70d01c46.8f2fe4","type":"debug","z":"99e55041.36b888","name":"","active":false,"console":"false","complete":"false","x":630,"y":60,"wires":[]},{"id":"a43c0b43.790438","type":"xml","z":"99e55041.36b888","name":"","property":"payload","attr":"","chr":"","x":310,"y":180,"wires":[["70d01c46.8f2fe4","60871ec4.51af38","f0b6bac7.885a7","28e39655.cb8f92"]]},{"id":"60871ec4.51af38","type":"function","z":"99e55041.36b888","name":"","func":"var RowKey = msg.payload.CellSet.Row[0].$.key\nmsg.payload = RowKey;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["8afd5d45.b5d668"]]},{"id":"b5895601.3b795","type":"debug","z":"99e55041.36b888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"8afd5d45.b5d668","type":"base64","z":"99e55041.36b888","name":"","action":"b64","property":"payload","x":560,"y":160,"wires":[["b5895601.3b795"]]},{"id":"f0b6bac7.885a7","type":"function","z":"99e55041.36b888","name":"","func":"var cf1 = msg.payload.CellSet.Row[0].Cell[0].$.column\nmsg.payload = cf1;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["ba85698.e7bd218"]]},{"id":"ba85698.e7bd218","type":"base64","z":"99e55041.36b888","name":"","action":"b64","property":"payload","x":600,"y":320,"wires":[["b5895601.3b795"]]},{"id":"28e39655.cb8f92","type":"function","z":"99e55041.36b888","name":"","func":"var value = msg.payload.CellSet.Row[0].Cell[0]._\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":460,"wires":[["e306e235.9f3dc8"]]},{"id":"e306e235.9f3dc8","type":"base64","z":"99e55041.36b888","name":"","action":"b64","property":"payload","x":600,"y":380,"wires":[["b5895601.3b795"]]}]
